PORT=4000
NODE_ENV=development

SUPABASE_URL=https://fahjewvnxdvaezyzxpzf.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_eSh6wEIvSZ4Q8nEycvnNnA_HMYVOejR
SUPABASE_SECRET_KEY=REEMPLAZAR_EN_VARIABLES_PRIVADAS
SUPABASE_JWKS_URL=https://fahjewvnxdvaezyzxpzf.supabase.co/auth/v1/.well-known/jwks.json

CORS_ORIGIN=http://localhost:5173
